/* BODY */

body {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
}



#content {
	min-height: 500px;
	padding: 2rem 2rem 4rem 2rem;
	background: rgba(255, 255, 255, .9);
}


/* TYPOGRAPHY */




/* HEADER */

header {	
	background-color: white;
	text-align: justify;
	
	/* make consistent with skeleton */
	height: 10rem;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem 10%;
}

@media (min-width: 400px) {
  header {
    width: 100%;
    padding: 0; }
}

@media (min-width: 550px) {
  header {
    width: 100%; }
}


/* NAVIGATION */

#logo {
	height: 100%;
	background-color: white;
}

nav {
	background-color: white;
	padding-top: 2%;
}

nav a {
	padding: 10px;
	font-size: 1.5rem;
}

.currpage {
	color: #696969;
}




/* HEADINGS */
h1 {
	text-align: center;
}



/* CONTENT */

#content {
	padding-top: 1rem;
}

#stlcity {
	width: 100%;
	max-width: 960px;
	min-height: 300px;
}

#welcome {
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	overflow: auto;
	width: 100%;
}

#welcome img {
	max-height: 360px;
}

#welcomelinks img {
	max-height: 110px;
	position: relative;
}

#welcomelinks a {
	position: relative;
	font-size: 3rem;
}

#welcomelinks {
	background: rgba(255, 255, 255, .9);
	position: absolute;
	right: 3rem;
	bottom:0;
	text-align: center;
	height: 100%;
	padding-top: 4rem;
}	

a.button {
	margin-top: 15px;
	margin-bottom: 15px;
}

table, table.u-full-width, form {
	margin-bottom: 0px;
}

#signature {
	margin-left: 20px;
}

.sponsor {
	height: 90px;
}

.bio {
	margin-bottom: 3rem;
}

.biotext p {
	margin: 0;
}

.biotext em {
	font-style: italic;
}

#googlemap {
	height: 325px;
	width: 360px;
}

#hotelphoto {
	width: 100%;
}

#hotel {
	font-size: 1.2rem;
}

strong {
	font-weight: bold;
}

#registration_form, #payment {
	margin-top: 10rem;
}

#payment {
	display:none;
}

/* FOOTER */
footer {
	bottom: 0;
	text-align: center;
	padding: 2rem;
	font-size: 1.2rem	;
	background-color: #323232;
	color: #a0a0a0;
}

footer img {
	opacity: .5;
	margin: 0px 10px 20px 10px;
}

footer a:hover {
	opacity: 1.0;
}

footer img:hover {
	opacity: 1.0;
}

img#twitter {
	height: 30px;
}

img#facebook {
	height: 30px;
}

#footerimg {
	display:inline-block;
}


#banquetguests {
	margin: 5rem 0;
}
#regfee {
	margin: 5rem 0;
}



